DOCUMENT:
{{docs}}

QUESTION:
{{current_conversation}}

INSTRUCTIONS:
Answer to the user's QUESTION using the DOCUMENT text.
Keep your answer short and ground in the facts of the DOCUMENT.
If the DOCUMENT doesn't contain the facts to answer the QUESTION return "Sorry, I don't know the answer to this question."
